@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

:root {
  --primary: white;
  --secondary: gold;
  --bg: #f4f4f4;
  --bg-header: black;
  --bg-footer: gray;
}

/* css reset */
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* header/ Navbar */
header {
  background: var(--bg-header);
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 20px 50px;
  position: fixed;
}
header .logo {
  color: var(--primary);
  letter-spacing: 8px;
  font-weight: 700;
  font-size: 30px;
  margin-right: 50px;
}
.header-content ul {
  display: flex;
  gap: 35px;
}
.header-content a {
  color: var(--primary);
}

/* main */
.main-content {
  text-align: center;
  padding: 170px 0 90px;
}
.main-content h1 {
  letter-spacing: 5px;
  font-size: 100px;
}
.main-content span {
  color: var(--secondary);
}
.main-content p {
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 4px;
}
.main-content img {
  width: 250px;
  height: 250px;
}

/* About */
h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}
.about-wrap {
  background: var(--bg);
  padding: 80px 100px;
  text-align: center;
}

/* Projek */
.projek-wrap {
  padding: 80px 0;
  text-align: center;
}
.projek-content {
  display: flex;
  justify-content: space-evenly;
}
.projek-item img {
  width: 70%;
  margin-top: 10px;
  box-shadow: 5px 5px 10px var(--bg);
}
.projek-item p {
  font-size: 24px;
  margin-top: 30px;
}

/* Contact */
.contact-wrap {
  padding: 80px 0;
  text-align: center;
  background: var(--bg);
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
input,
textarea {
  width: 50%;
  padding: 15px 24px;
  border-radius: 12px;
}
.submit {
  width: 30%;
  background: var(--secondary);
  font-size: 15px;
}

/* Footer */
footer {
  background: var(--bg-footer);
  color: var(--primary);
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
}
.footer-logo {
  color: var(--primary);
  letter-spacing: 8px;
  font-size: 30px;
  font-weight: 600;
}
.footer-content a {
  color: var(--primary);
  line-height: 40px;
}
